.imgButton{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgButton {
    width: 100px;
    overflow: hidden;
    position: absolute;    
    text-decoration: none;
    border:none;
    
  }
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .file-input label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  text-align: center;
  right: 10px;
  bottom: 63px;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}
.btn_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}  
.children{
    margin: auto;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(225, 225, 225, 0.9);
    padding-top: 20px;
}

.img{
    width: 250px;
    position: relative;
    height: 350px;
     margin:0 10px ;
    box-shadow: 0 0 5px 5px rgba(225, 225, 225, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.NameSurname{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.avatar{
    width: 240px;
    position: absolute;
    padding:20px 0px 0px 10px;
    height: 80%;
    object-fit: contain;
    
}
.profil{
    display: flex;
}
.googlebtn{
    width: 60px;
    height: 60px;
    object-fit: contain;
    opacity: 0.9;
}
.googlebtn:hover{
    opacity: 1;
}
.loginBAck{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190826/pngtree-dark-abstract-background-with-overlap-layers-image_305025.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Login{
    background-color: white;
}